/* VARIABLES */

$theater-backdrop-bg-color: rgba(0, 0, 0, .9) !default;
$theater-nav-button-color: white !default;
$theater-content-bg-color: black !default;

/* THEATER STYLES */

.theater-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .theater-backdrop {
    background: $theater-backdrop-bg-color;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    .theater-close-button {
      position: absolute;
      top: 5px;
      right: 10px;
      color: white;
      font-size: 30px;
      cursor: pointer;
    }

    .theater-content-wrapper {
      max-width: 90%;
      max-height: 800px;
      min-width: 900px;
      min-height: 500px;
      background: blue;

      .theater-content, .theater-side-content {
        height: 100%;
        float: left;
        min-height: inherit;
        max-height: inherit;
      }

      .theater-content,{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 75%;
        background: $theater-content-bg-color;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        img {
          max-width: 100%;
          max-height: inherit;
        }
      }

      .theater-side-content {
        width: 25%;
        background: #f4ff10;
      }
    }
  }
}

/* ARROW */
svg {
  padding: 5px;
}

.theater-nav-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  stroke: $theater-nav-button-color;
  height: 100%;
  width: 50%;

  &.theater-nav-button--prev {
    left: 0;
    justify-content: flex-start;
  }

  &.theater-nav-button--next {
    right: 0;
    justify-content: flex-end;
  }

  &:hover, &:focus {
    polyline {
      stroke-width: 3;
    }
  }
}

polyline {
  transition: all 200ms ease-in-out;
}